This data was collected from OpenDataPhilly:

https://www.opendataphilly.org/dataset/crime-incidents


The Kaggle Dataset can be found below:

https://www.kaggle.com/mchirico/philadelphiacrimedata

In [8]:
!pwd

/tmp/working/src

In [9]:
!ls ../input

911.csv				      PPnh.csv	 crime.csv.zip	  stack.csv
PP.csv				      _load.sql  crime_db.sqlite  test.csv
PPD_Crime_Incidents_2006-Present.csv  crime.csv  database.sqlite

In [10]:
!head ../input/PPD_Crime_Incidents_2006-Present.csv

District,PSA,Dispatch Date/Time,Dispatch Date,Dispatch Time,Hour,DC Number,Location Block,UCR Code,General Crime Category,Shape,Police Districts
18,3,10/02/2009 02:24:00 PM,2009-10-02,14:24:00,14,200918067518,S 38TH ST  / MARKETUT ST,800,Other Assaults,,
14,1,05/10/2009 12:55:00 AM,2009-05-10,00:55:00,0,200914033994,8500 BLOCK MITCH,2600,All Other Offenses,,
25,J,08/07/2009 03:40:00 PM,2009-08-07,15:40:00,15,200925083199,6TH CAMBRIA,800,Other Assaults,,
35,D,07/19/2009 01:09:00 AM,2009-07-19,01:09:00,1,200935061008,5500 BLOCK N 5TH ST,1500,Weapon Violations,POINT (-75.130477 40.036389),20
09,R,06/25/2009 12:14:00 AM,2009-06-25,00:14:00,0,200909030511,1800 BLOCK WYLIE ST,2600,All Other Offenses,POINT (-75.16635 39.969532),8
17,1,04/25/2015 12:50:00 PM,2015-04-25,12:50:00,12,201517017705,800 BLOCK S BROAD ST,600,Thefts,POINT (-75.166412 39.94007),13
23,K,02/10/2009 02:33:00 PM,2009-02-10,14:33:00,14,200923006310,2200 BLOCK RIDGE AVE,800,Other Assaults,POINT (-75.171149 39.979586),16
77,A,04/02/2009 06:30:00 PM,2009-04-02,18:30:00,18,200977001770,TERMINAL A W,500,Burglary Non-Residential,,
35,D,03/18/2009 01:14:00 AM,2009-03-18,01:14:00,1,200935021299,N 5TH SOMMERVILLE,2600,All Other Offenses,,

In [16]:
import numpy as np 
import pandas as pd 
import datetime


from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))



dateparse = lambda x: datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p')



FILE="../input/PPD_Crime_Incidents_2006-Present.csv"


d=pd.read_csv(FILE,
  header=0,names=['DC_DIST','PSA','DISPATCH_DATE_TIME','DISPATCH_DATE',
                  'DISPATCH_TIME','HOUR_','DC_KEY',
                  'LOCATION_BLOCK','UCR_GENERAL','TEXT_GENERAL_CODE','SHAPE',
                  'Police Districts'],dtype={'DC_DIST':str,'PSA':str,
                'DISPATCH_DATE_TIME':str,'DISPATCH_DATE':str,'DISPATCH_TIME':str,
                  'HOUR_':str,'DC_KEY':str,'LOCATION_BLOCK':str,'UCR_GENERAL':str,'TEXT_GENERAL_CODE':str,
              'SHAPE':str,'Police Districts':str},
             parse_dates=['DISPATCH_DATE_TIME'],date_parser=dateparse)




d['MONTH']=d['DISPATCH_DATE_TIME'].apply(lambda x: x.strftime('%Y-%m'))
d['SHAPE']=d['SHAPE'].apply(lambda x: str(x).replace('POINT (','').replace(')','').strip().split(' '))

911.csv
PP.csv
PPD_Crime_Incidents_2006-Present.csv
PPnh.csv
_load.sql
crime.csv
crime.csv.zip
crime_db.sqlite
database.sqlite
stack.csv
test.csv

In [17]:
def fixB(n,m):
    if len(n) == 1:
        return ''
    return n[m]

d['LON']=d['SHAPE'].apply(lambda x: fixB(x,0))
d['LAT']=d['SHAPE'].apply(lambda x: fixB(x,1))

In [18]:
d.columns = ['Dc_Dist', 'Psa', 'Dispatch_Date_Time', 'Dispatch_Date',
       'Dispatch_Time', 'Hour', 'Dc_Key', 'Location_Block', 'UCR_General',
              'Text_General_Code', 'Shape', 'Police_Districts', 'Month', 'Lon',
                     'Lat']

In [14]:
d.columns

Index(['Dc_Dist', 'Psa', 'Dispatch_Date_Time', 'Dispatch_Date',
       'Dispatch_Time', 'Hour', 'Dc_Key', 'Location_Block', 'UCR_General',
       'Text_General_Code', 'Shape', 'Police_Districts', 'Month', 'Lon',
       'Lat'],
      dtype='object')

In [ ]:
d[['Dc_Dist', 'Psa', 'Dispatch_Date_Time', 'Dispatch_Date',
       'Dispatch_Time', 'Hour', 'Dc_Key', 'Location_Block', 'UCR_General',
       'Text_General_Code',  'Police_Districts', 'Month', 'Lon',
       'Lat']].to_csv('../input/crime.csv',index=False,header=True)

In [15]:
d.head()

,Dc_Dist,Psa,Dispatch_Date_Time,Dispatch_Date,Dispatch_Time,Hour,Dc_Key,Location_Block,UCR_General,Text_General_Code,Shape,Police_Districts,Month,Lon,Lat
0,18,3,2009-10-02 02:24:00,2009-10-02,14:24:00,14,200918067518,S 38TH ST / MARKETUT ST,800,Other Assaults,[nan],NaN,2009-10,,
1,14,1,2009-05-10 12:55:00,2009-05-10,00:55:00,0,200914033994,8500 BLOCK MITCH,2600,All Other Offenses,[nan],NaN,2009-05,,
2,25,J,2009-08-07 03:40:00,2009-08-07,15:40:00,15,200925083199,6TH CAMBRIA,800,Other Assaults,[nan],NaN,2009-08,,
3,35,D,2009-07-19 01:09:00,2009-07-19,01:09:00,1,200935061008,5500 BLOCK N 5TH ST,1500,Weapon Violations,"[-75.130477, 40.036389]",20,2009-07,-75.130477,40.036389
4,09,R,2009-06-25 12:14:00,2009-06-25,00:14:00,0,200909030511,1800 BLOCK WYLIE ST,2600,All Other Offenses,"[-75.16635, 39.969532]",8,2009-06,-75.16635,39.969532